body {
    background-color: #0f162d;
    font-family: Inter, sans-serif;
    line-height: 1.3em;
}

div#content-box {
    width: 100%;
    height: 400pt;
    position: relative;
    left: 55px;
}

div#content-box > textarea,
div#content-box > pre#highlight-area {
    box-sizing: border-box;
    overflow: auto;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    width: 98.5%;
    margin: 0;
    padding: 10px 0;
    height: 75vh;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    line-height: 1.2;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div#content-box > textarea {
    resize: none;
    border: none;
    background-color: #444;
    color: #444;
    caret-color: #ddd;
}

div#content-box > pre#highlight-area {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

/*div#content-box > pre#highlight-area > span {*/
/*    word-wrap: break-word;*/
/*    white-space: pre-wrap;*/
/*}div#content-box > pre#highlight-area > span {*/
/*    word-wrap: break-word;*/
/*    white-space: pre-wrap;*/
/*}*/

.highlight-comma,
.highlight-colon,
.highlight-keyword,
.highlight-operator,
.highlight-function,
.highlight-function-name {
    font-weight: 400;
}

.highlight-default,
.highlight-colon,
.highlight-semicolon,
.highlight-comma {
    color: #ddd;
}

.highlight-keyword {
    color: #d0782a;
}

.highlight-operator {
    color: #ffffff;
}

.highlight-function {
    color: #cc99cd;
}

.highlight-function-name {
    color: #ddca7e;
}

.highlight-argument {
    color: #ffffff;
}

.highlight-string {
    color: #96b38a;
}

.highlight-number {
    color: #809bbd;
}

.highlight-comment {
    color: #777;
}

.highlight-left-parentheses,
.highlight-right-parentheses,
.highlight-left-bracket,
.highlight-right-bracket {
    color: #ffffff;
}

#codeEditor,
#lineCounter {
    font-family:
        lucida console,
        courier new,
        courier,
        monospace;
    margin: 0;
    padding: 10px 0;
    height: 75vh;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    line-height: 1.2;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#lineCounter:focus-visible,
#codeEditor:focus-visible {
    outline: none;
}

#lineCounter {
    display: flex;
    border-color: transparent;
    overflow-y: hidden;
    text-align: right;
    box-shadow: none;
    color: #707070;
    background-color: #d8d8d8;
    position: absolute;
    width: 3.5rem;
    background-color: #3e3d32;
    border-color: #3e3d32;
    color: #928869;
}

#codeEditor {
    padding-left: calc(3.5rem + 5px);
    width: 100%;
    background-color: #444;
    border-color: #272822;
    color: #ffffff;
}

/* buttons */
.ghost-button {
    background-color: transparent;
    border: 2px solid #ddd;
    padding: 10px 30px;
    min-width: 350px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.ghost-button:hover {
    border: 2px solid #515151;
}

.bar {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}
a {
    padding-right: 10px;
    text-decoration: none;
    color: #b0b0b0;
    font-size: 2rem;
    border-color: #ff7a00;
}
a:visited {
    color: #b0b0b0;
}

.pybin {
    margin-right: auto;
    color: #ff7a00;
    border: 1px solid #ff7a0066;
}
.pybin:visited {
    color: #ff7a00;
    border: 1px solid #ff7a0066;
}
