{% extends "base.html" %} {% block content %} {% for index in
range(paste|length) %}
<p>
    {{ paste[index].filename }}
    <textarea id="editor-{{ index }}" readonly>
{{ paste[index].get_value(nonce, aesgcm) }}</textarea
    >
</p>
{% endfor %}

<script>
    for (let i = 0; i < {{ paste|length }}; i++) {
        var editor = CodeMirror.fromTextArea(document.getElementById("editor-"+i), {
            lineNumbers: true,
            mode: "text/x-python",
            theme: "dracula",
        });
        editor.setSize(810, 400);
    }
</script>
{% endblock %}
