<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='codemirror.js') }}"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='dracula.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='codemirror.css') }}"
        />
        <script src="{{ url_for('static', filename='python.js') }}"></script>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <title>Pybin</title>
    </head>
    <body>
        <main>
            <br>
            <h5 type="text">pybin</h5>
            <fieldset>
                    {% block content %}{% endblock %}
            </fieldset>
        <footer>
                <a href="https://github.com/Lopkop/pybin">github</a>
        </footer>
        </main>
    </body>
</html>
