<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='codemirror.js') }}"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='dracula.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='codemirror.css') }}"
        />
        <script src="{{ url_for('static', filename='python.js') }}"></script>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <title>Pybin</title>
    </head>
    <body>
        <main>
            <article>
                <div class="encrypt">
                    <br>
                    <!-- <h1>Pybin</h1> -->
                    <fieldset class="input">
                        <div>
                            {% block content %}{% endblock %}
                        </div>
                    </fieldset>
            </article>
        </main>
        <footer>
                <a href="https://github.com/Lopkop/pybin">github</a>
        </footer>
    </body>
</html>
