<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="{{ url_for('static', filename='codemirror.js') }}"></script>
    <link  rel="stylesheet" href="{{ url_for('static', filename='dracula.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='codemirror.css') }}">
    <script src="{{ url_for('static', filename='python.js') }}"></script>
    <title>Pybin</title>
</head>
<body>
<div class="bar">
    <a class="pybin" href="{{ url_for('index') }}">Pybin</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='prism.js') }}"></script>
</body>
</html>