{% extends "base.html" %} {% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="box" id="box">
        <div class="head">
            <input name="filename-0" type="text" placeholder="Filename" />
        </div>
        <textarea name="value-0" id="editor-0" wrap="soft"></textarea>
    </div>

    <div class="buttons">
        <button type="button" class="addNewPaste" id="addNewPaste">
            Add file
        </button>
        {{ form.submit(type='submit', class='create ghost-button btn
        btn-outline-dark') }}
    </div>
</form>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("editor-0"), {
        lineNumbers: true,
        mode: "text/x-python",
        theme: "dracula",
    });

    var fieldNum = 0;
    var div = document.getElementById("box");
    var filename = document.createElement("input");
    var value = document.createElement("textarea");
    var removeButton = document.createElement("button");
    var button = document.getElementById("addNewPaste");
    var head = document.createElement("div");

    button.addEventListener("click", function () {
        fieldNum += 1;
        head.id = "head-" + fieldNum;
        div.append(head.cloneNode(true));
        div_head = document.getElementById("head-" + fieldNum);

        filename.name = "filename-" + fieldNum;
        filename.placeholder = "Filename";
        div_head.append(filename.cloneNode(true));

        removeButton.type = "button";
        removeButton.class = "RemovePaste";
        removeButton.id = "RemovePaste-" + fieldNum;
        removeButton.innerHTML = "Remove";
        div_head.append(removeButton.cloneNode(true));

        var remove_button = document.getElementById("RemovePaste-" + fieldNum);

        remove_button.addEventListener("click", function () {
            if (fieldNum < 1) {
                return;
            }
            let editor = document.getElementById("editor-" + fieldNum);
            let codemirror =
                document.getElementsByClassName("CodeMirror")[fieldNum];
            codemirror.remove();
            editor.remove();
            let filename = document.getElementsByName(
                "filename-" + fieldNum,
            )[0];
            filename.remove();
            var remove_button = document.getElementById(
                "RemovePaste-" + fieldNum,
            );
            remove_button.remove();

            div_head = document.getElementById("head-" + fieldNum);
            div_head.remove();

            fieldNum -= 1;
        });

        value.name = "value-" + fieldNum;
        value.id = "editor-" + fieldNum;
        div.append(value.cloneNode(true));

        var editor = CodeMirror.fromTextArea(
            document.getElementById("editor-" + fieldNum),
            {
                lineNumbers: true,
                mode: "text/x-python",
                theme: "dracula",
            },
        );
    });
</script>
{% endblock %}
