{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="box">
        {% for field in form.paste %}
        <p>
            {{ field.filename(placeholder='Filename') }}
        </p>
        <p>
            {{ field.value(id='editor', wrap='off') }}
        </p>
        {% endfor %}
    </div>
    {{ form.submit(type='submit', class='ghost-button btn btn-outline-dark') }}
</form>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
        mode: "text/x-python",
        theme: "dracula"
    });
</script>
{% endblock %}