{% extends "base.html" %} {% block content %} {% for index in
range(paste|length) %} {{ paste[index].filename }}
<textarea id="editor-{{ index }}" readonly>
{{ paste[index].get_value(cipher_suite) }}</textarea
>
{% endfor %}
<script>
    for (let i = 0; i < {{ paste|length }}; i++) {
        var editor = CodeMirror.fromTextArea(document.getElementById("editor-"+i), {
            lineNumbers: true,
            mode: "text/x-python",
            theme: "dracula",
        });
        document.getElementById("CodeMirror-lines").addEventListener("input", function () {
          console.log(editor)
        });

    }
</script>
{% endblock %}
